@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300&display=swap');
.home {
    background:#fff;
    min-height: 80vh;
    text-align: center;
    p{
        padding-right: 30vw;
        padding-left: 30vw;
        line-height: 1.7em;
        font-size: 18px;
        font-family: 'roboto slab', sans-serif;
        font-weight: 400 !important;
        color: #222831;
    }
}

@media screen and (max-width:500px){
    .home p {
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .mainTitle {
        font-size: 1.5em;
    }
    .businessName h1{
        font-size: 20px;
    }
    .bm-burger-button {
        width: 25px !important;
        height: 20px !important;
        right: 18px !important;
        top: 18px !important;
      }
    .avatarIcon{
        padding-left: 10px !important;
        width: 40px !important;
       border-radius: 20px;
    }
}
.signup-image, .review-image, .upload-image{
    text-align: center;
    padding-top: 3em;
}

.mainTitle {
    color: #6C63FF;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

.actionButton {
    background-color: #6C63FF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        transition: .2s;
    }
}


.bottomParagraph{
    padding-bottom: 50px;
}

#page-wrap {
    text-align: center;
    overflow: auto;
    top: 45%;
    position: relative;
  }

  .homeImage{
      width: 50vw;
      height: auto;
  }