$breakpoint-phone: 375px;
@media (max-width: $breakpoint-phone){
  .profile{
    max-width:350px !important;
    padding-bottom: 20px!important;
    width: 100%;
  }
  .profileImage img{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 220px !important;

  }
  .profileImage{
    padding: 50px !important;
  }
  .profileCard{
    margin-top: 75%!important;
    margin-left: -60%!important;
  }
  .logout-button{
    margin-left: -20px!important;
  }
}



.profile{
    text-align: center;
    background-color: #2E4158;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  .profileImage{
    padding: 40px;
    text-align: center;
  }
  .profileCard {
    text-align: left;
    padding-top: 20px;
    h3{
    margin-bottom: 5px;
    font-size: 1.2rem!important;
    }
  }
  .profileHeader{
    color: #9D9F9B;
  }
  .profileInfo{
    color: #6C63FF;
  }
  .container{
    width: 100%;
    align-content: center;
  }
  .logout-button{
    background: #6C63FF;
    border: none;
    align-items: center;
    border-radius:5px;
    height: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .upload{
    background-color: grey;
    color: black;
    padding: 20;
    height: 100px;
    width: 200px;
    text-align: center;
    align-content: center;
  }