@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.header {
    background-color: #192c38;
    max-width:100%;
    text-align: center;
  }

.headerTabs .active{
    color: rgb(214, 95, 95);
    border-bottom: 2px solid rgba(214, 95, 95, 0.918);
    margin-bottom: 8px;
  }
.headerTabs .headerLinks .hoverStyle a:hover{
    transition: all .5s ;
    border-bottom: 2px solid rgb(214, 95, 95);
    padding: 20px;
    margin: 0px;
  }
  
.headerTabs{
    /* display: inline-block
    margin-left: auto
    margin-right: auto
    padding-bottom: 50px */
    text-align: center;
  }

  .header a{
    text-decoration: none;
    color: rgb(214, 95, 95);
    text-align: center  !important;
    overflow: none;
  }
  .header a:hover {
    color:rgb(214, 95, 95);
  
  }
  
  .headerLinks{
    text-align: center;
  }
  .headerLinks a{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    color: #9D9F9B;
    width: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }

  .header .logo {
    text-align: center  !important;
    text-shadow: -1.5px -1.5px 0 #4C5D72, 1.5px -1.5px 0 #4C5D72, -1.5px 1.5px 0 #4C5D72, 1.5px 1.5px 0 #4C5D72;
    color: rgb(214, 95, 95);
    margin-top: -30px;
    padding-bottom: 0px;
    font-size: 180px;
    font-family: 'Long Cang', cursive;
    min-height: 180px;
    overflow: none;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header .logo:hover{
    min-height: 180px;
    text-align: center  !important;
    -webkit-animation:spin .1s linear 1;
    -moz-animation:spin .1s linear 1;
    animation:spin .1s linear 1;
    overflow: none;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}
  
  .hoverStyle a{
    padding: 10px 10px 20px 10px;
  }
  
  .hoverStyle a:active{
    margin-right: 10px;
  }
  
  .avatarIcon{
      width: 50px;
  }

  .header .welcome {
    text-align: right;
    height: 0px;
  }

  .avatarIcon{
      margin-right: 20px;
      margin-bottom: -45px;
      padding-top: -20px;
      padding-bottom: -20px;
  }

  .title{
    text-align: center;
    color: rgb(214, 95, 95);
    margin-top: -40px;
    max-width: 100%;
    font-size: 40px;
    font-family: 'Long Cang', cursive;
  }