.App__Aside {
    /* width: 100%; */
    background-color:#6C63FF;
  }
  .AuthForm {
    height: 100%;
    display: flex;
    color: white;
    background: rgb(76,93,114);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 15%;
  }
  .App__Form {
    width: 40%;
    min-width: 250px;
    background-color: #2E4158;
    padding: 25px 40px;
    justify-content: center;
    height: 100%;
  }
  .Error__Message{
    text-align: center;
    color: rgba(255,27,27,.8);
    background-color:rgba(255, 27, 27, 0.192);
    border-radius: 5px;
    border: 1px solid rgba(255,27,27,.8) ;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
  } 
  .PageSwitcher {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  
  .PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .PageSwitcher__Item--Active {
    background-color: #6C63FF;
    color: white;
  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;

  }
  
  .FormTitle__Link {
    color: #6C63FF;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #6C63FF;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .FormField__Input {
    width: 85%;
    background-color: rgb(55, 75, 99);
    border-radius: 15px;
    border: none;
    color: #6C63FF;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding: 10px;
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }

  .FormField__Input #email {
    color: #616E7F;
    /* background-color: transparent !important; */
  }

  .FormField__Button {
    background-color:  #6C63FF;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 70px;
    font-size: .8em;
    font-weight: 500;
    align-items: center;
  }
  .FormField__Button:hover {
    background-color:  #6C63FF;
    cursor:pointer;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #6C63FF !important;
  }
  .FormField__Link {
    color: #6C63FF;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #6C63FF;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }